<!doctype html>
<html lang="{{ _lang }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://iwgbcode-f208.kxcdn.com/css/auth.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    {% block head %}
    {% endblock %}
</head>
<body>

<div class="container">
    <div class="container__hero" style="background: #fff url(https://iwgb.org.uk/img/header5.jpg) center/cover">
        <div class="container__hero__logo" style="background-image: url({{ _i('/assets/roundel-colour.png') }});">
            <div class="container__hero__logo__wash"></div>
        </div>
    </div>
    <div class="container__content">
        {% include '/alerts.html.twig' %}
        <div class="container__content__center">
            <div class="container__content__container">
                <img class="logo" alt="logo" src="{{ _i('/assets/wordmark-red.png') }}">
                {% block content %}

                {% endblock %}
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
</body>
</html>