@charset "utf-8";

@import 'base';

.nav {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1.25rem;
    background-color: #EEEEEE;

    @include ease();

    &__part {
        display: flex;
        align-items: center;

        &--uncollapsed {
            display: none;
        }
    }

    &__heading {
        font-size: 1.25rem;
        display: inline;
        padding: 0 0.5rem;
    }

    &__list {
        list-style: none;
        display: inline;
        padding: 0;
        margin: 0;

        &--standalone {
            padding: 1rem 0;
            display: flex;
        }

        &--hide {
            display: none;
        }

        @include hideMobile();

        &__item {
            display: inline;
            padding: 0 0.5rem;
            text-align: center;

            @include hideMobile();
        }

        @media #{$mobile} {

            &--collapse {
                position: relative;

                .nav__list__item {
                    display: block;
                    padding: 0.5rem;
                }
            }
        }
    }

    &__link {
        @include colorAnchor($darkGrey);

        &--nonNavigable {
            @include underlineAnchor($linkBlue);
        }
    }

    &__text {
        display: inline;
    }
}

.container {
    display: flex;
    justify-content: center;
    margin: 1.25rem;

    @media #{$mobile} {
        display: block;
    }

    &__content {
        min-width: calc(700px - 1.25rem);
        flex-grow: 1;
        max-width: 1000px;

        @media #{$mobile} {
            min-width: unset;
            max-width: unset;
        }
    }
}

.pageHeader {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 3rem;
    font-weight: lighter;
    padding: 1rem 0;

    &--multipart {
        justify-content: space-between;
    }

    &__part {
        display: flex;
        align-items: center;
    }

    &__action {
        padding: 1rem;
        @include colorAnchor($midGrey);

        &--small {
            font-size: 1.5rem;
        }
    }

    &__tag {
        font-size: 1rem;
        text-transform: uppercase;
        color: #fff;
        padding: 0.25rem 0.5rem;
        border-radius: 3px;
    }
}

.entityTable {
    border-collapse: collapse;

    &__body {
        border: 1px solid $lightGrey;
    }

    &__header {

        &__link {
            @include colorAnchor(#999);
        }
    }

    &__field {
        padding: 1em;
        border: 1px solid $lightGrey;

        &__action {
            @include colorAnchor($lightGrey);
            font-size: 0.75rem;
        }

        @include hideMobile();

    }

    &__link {
        @include underlineAnchor($linkBlue);
    }

    &__row {
        transition: background-color 0.2s;

        &:hover {
            background-color: $offWhite;
        }
    }
}

.pagination {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem;


    &__link {
        @include colorAnchor($midGrey);

        &__icon {
            font-size: 0.75rem;
        }
    }
}

/* MENU */

.menuArrow {
    width: 2rem;
    height: 1rem;
    border: none;
    position: relative;
    background-color: inherit;
    outline: none;

    &:hover {
        cursor: pointer;
    }

    @include hideDesktop();

    &__hand {
        background-color: #000;
        width: 1rem;
        height: 0.25rem;
        display: inline-block;
        position: absolute;
        top: 50%;
        margin-top: -0.1rem;

        @include ease();

        &--top {
            transform: rotate(45deg);
            left: 0.25rem;

            &--open {
                transform: rotate(-45deg);
            }
        }

        &--bottom {
            transform: rotate(-45deg);
            left: 0.75rem;

            &--open {
                transform: rotate(45deg);
            }
        }
    }
}

/* MEMBER */

.memberName {

    &__part:first-of-type::after {
        color: $lightGrey;
        content: " ·";
    }
}

.member {
    display: flex;
}

.membershipCard {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    height: 12.5rem;
    min-width: 21.88rem;
    background-color: $iwgbRed;
    border-radius: 5px;
    color: #fff;
    padding: 1rem;
    margin: 0 1rem 0 0;

    @media #{$mobile} {
        display: none;
    }

    &__name {
        font-family: "Merriweather", sans-serif;
        font-weight: 700;
        font-size: 1.5rem;
    }

    &__id {
        text-transform: uppercase;
    }
}

.memberInfo {
    display: flex;
    flex-wrap: wrap;
}

.memberDatum {
    margin: 1rem;
    flex-grow: 1;
    flex-basis: 40%;

    &--fullWidth {
        flex-grow: 2;
        width: calc(100% - 2rem);
        flex-basis: 90%;
    }

    &__label {
        font-size: 0.75rem;
        text-transform: uppercase;
        color: $darkGrey;
    }

    &__value {
        font-size: 1.25rem;

        span {
            margin-right: 1rem;
        }

        &__action {
            @include colorAnchor($linkBlue);
            font-size: 1rem;
        }
    }

    &__section {
        border-top: 1px solid $lightGrey;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        padding-top: 0.5rem;
        font-size: 1.5em;
        width: calc(100% - 2rem);
    }
}

.events {
    margin: 0 1rem;
}

.event {
    border-top: 1px solid $lightGrey;
    font-size: 0.75rem;
}

