{% extends '/admin/admin.html.twig' %}

{% block content %}
    <div class="pageHeader">
        <span>New folder</span>
    </div>
    <p>Enter a folder name.</p>
    <p class="light">You may use letters, numbers and hyphens.</p>
    <form action="/admin/media/new-folder" method="post" class="form">
        {% include '/csrf.html.twig' %}
        <input type="hidden" name="path" value="{{ path }}">
        <div class="form__group">
            <span>{{ path }}</span>
            <input class="form__input" type="text" name="folderName" placeholder="new-folder" pattern="^[a-zA-Z0-9\-]+$" autofocus required>
        </div>
        <div class="form__group">
            <input class="form__input__submit" type="submit" value="Create">
        </div>
    </form>
{% endblock %}