{% extends '/admin/admin.html.twig' %}

{% block content %}
    <div class="pageHeader">
        <span>Upload</span>
    </div>
    <form action="/admin/media/new" method="post" class="form form--left" enctype="multipart/form-data">
        {% include '/csrf.html.twig' %}
        <div class="form__group">
            <p>Upload a file to the IWGB content delivery network.</p>
            <input class="form__input" name="file" type="file" required>
        </div>
        <div class="form__group">
            <p>Choose a folder and enter a file name.</p>
            <p class="light">You may use letters, numbers and hyphens.</p>
        </div>
        <div class="form__group">
            <select class="form__input" name="folder">
                {% for folder in folders %}
                    <option value="{{ folder }}">{{ folder }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form__group">
            <input class="form__input form__input--disableOnChecked" type="text" name="filename" placeholder="file-name" pattern="^[a-zA-Z0-9\-]+$" autofocus required>
            <span>excluding file extension</span>
        </div>
        <div class="form__group">
            <label>
                <span>or name with a random ID</span>
                <input class="form__input form__input--disableInputs" type="checkbox" name="generate" value="1">
            </label>
        </div>
        <div class="form__group">
            <input class="form__input__submit" type="submit" value="Upload">
        </div>
    </form>

    <div class="uploadCopy">
        <div class="uploadCopy__stage">
            <i class="uploadCopy__stage__icon fas fa-cloud-upload-alt fa-5x"></i>
            <span class="uploadCopy__stage__message">Your file is uploaded to the árMS application server in London</span>
        </div>
        <i class="uploadCopy__transition fas fa-angle-right fa-2x uploadCopy__transition--hideMobile "></i>
        <i class="uploadCopy__transition fas fa-angle-down fa-2x uploadCopy__transition--hideDesktop"></i>
        <div class="uploadCopy__stage">
            <i class="uploadCopy__stage__icon fas fa-hdd fa-5x"></i>
            <span class="uploadCopy__stage__message">It&rsquo;s then moved to our storage servers in Amsterdam. Bedankt!</span>
        </div>
        <i class="uploadCopy__transition fas fa-angle-right fa-2x uploadCopy__transition--hideMobile "></i>
        <i class="uploadCopy__transition fas fa-angle-down fa-2x uploadCopy__transition--hideDesktop"></i>
        <div class="uploadCopy__stage">
            <i class="uploadCopy__stage__icon fas fa-globe-europe fa-5x"></i>
            <span class="uploadCopy__stage__message">We then distribute it to over 30 data centres across Europe and around the world, making sure big files are positioned close to our users and members on the internet - and load as fast as possible.</span>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $('.form__input--disableInputs').change(function() {
           if (this.checked) {
               $('.form__input--disableOnChecked').attr('disabled', '1')
                   .addClass('form__input--disabled');

           } else {
               $('.form__input--disableOnChecked').removeAttr('disabled')
                   .removeClass('form__input--disabled');
           }
        });


    </script>
{% endblock %}