<div id="content" class="content content-pad">
	<div class="stories">
		<iframe class="story pinned" width="560" height="315" src="https://www.youtube-nocookie.com/embed/{{ fields.video.content }}" frameborder="0" allow="autoplay; encrypted-media"></iframe>
	</div>
</div>