<div id="nav"></div>
<div class="nav-container">
	<div class="nav main-nav content-pad">
		<a href="/"><img src="/img/iwgb-red-wordmark.png" class="h1-wordmark"></a>
		<ul class="menu nav-menu">
			<a href="/join"><li>join</li></a>
			<a href="//crowdjustice.com/case/cleanupoutsourcing" target="_blank"><li>donate</li></a>
			<div class="dropdown" href="/feed" ><li>news <i class="fas fa-angle-down"></i></li>
				<ul class="dropdown-content">
					<a href="/feed"><li>news</li></a>
					<a href="/feed/press-releases"><li>press releases</li></a>
					<a href="/feed/blog"><li>blog</li></a>
				</ul>
			</div>
			<div class="dropdown" href="/page/justice-outsourced-work" ><li>campaigns <i class="fas fa-angle-down"></i></li>
				<ul class="dropdown-content">
					<a href="/page/campaigns/gig-econ"><li>gig economy</li></a>
					<a href="/page/campaigns/foster-brighter-future"><li>foster care workers</li></a>
					<a href="/page/campaigns/justice-outsourced-work"><li>outsourced workers</li></a>
				</ul>
			</div>
			<div class="dropdown" href="/page/about/about" ><li>about <i class="fas fa-angle-down"></i></li>
				<ul class="dropdown-content">
					<a href="/page/about/about"><li>about us</li></a>
					<a href="/page/about/contact"><li>contact us</li></a>
					<a href="/page/about/privacy"><li>privacy policy</li></a>
					<a href="/page/about/data-protection"><li>data protection</li></a>
				</ul>
			</div>
		</ul>
		<div id="hamburger" class="closed">
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
	<div class="nav-border"></div>
	<ul class="menu mobile-menu">
		<a href="/join"><li>join</li></a>
		<a href="/feed"><li>news</li></a>
		<a href="/page/campaigns/justice-outsourced-work"><li>campaigns</li></a>
		<a href="//crowdjustice.com/case/cleanupoutsourcing" target="_blank"><li>donate</li></a>
		<a href="/page/about/about"><li>about</li></a>
	</ul>
</div>
{# <div class="beta-message">
	<p>You&rsquo;re viewing a <span>pre-release</span> version of the new IWGB website. We&rsquo;d appreciate your <a href="https://goo.gl/forms/CtJvBJRBqkp2rRR03" target="_blank">feedback</a>, or if there&rsquo;s an issue that needs resolving (and hasn&rsquo;t <a href="//github.com/guym4c/iwgb-arMS/issues" target="_blank">been raised already</a>), you can <a href="//github.com/guym4c/iwgb-arMS/issues/new" target="_blank">open a ticket</a>.</p>
	<p class="version">v1.2 08/04/2018</p>
</div> #}