{% extends 'arms-page.html.twig' %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@json-editor/json-editor@latest/dist/jsoneditor.min.js"></script>
    <script>
        JSONEditor.defaults.options.theme = 'bootstrap4';

        let config = '{{ config }}';
        let item = '{{ item }}';

        $.getJSON('/config/schema/' + config + '.schema.json', function (schema) {
            let editor = new JSONEditor(document.getElementById("editor"), {
                schema: schema,
                theme: 'bootstrap4',
                ajax: true,
                disable_edit_json: true,
                no_additional_properties: true
            });

            editor.on('ready',function() {
                $.getJSON('/config/' + config + '.json', function (config) {
                    editor.setValue(config);
                });
            });


        });




    </script>
{% endblock %}

{% block content %}
    <div id="editor"></div>
{% endblock %}