
{#
    fields: fields conformant to elements.schema.json#/definitions/markdown-element
#}

<div class="md">
    {% autoescape false %}
        {{ _(fields.display)|htmlentities|md }}
    {% endautoescape %}
</div>
