{% extends 'page.html.twig' %}

{% block page %}
    <h1>500: Server error</h1>
{% endblock %}

{% block scripts %}
    {% if event is defined %}
        <script src="https://browser.sentry-cdn.com/4.6.4/bundle.min.js"></script>
        <script>
            Sentry.init({ dsn: '{{ dsn }}' });
            Sentry.showReportDialog({
                eventId: '{{ event }}',
                subtitle: 'The good news is, we\'ve been informed and we\'re racing to sort it out for you.',
                subtitle2: 'We\'ve already gathered lots of information about what happened, but if you feel like there\'s anything else important, let us know below.'
            });
        </script>
    {% endif %}
{% endblock %}
