{% if _a is defined %}
	{% set _get = _get|merge(_a) %}
{% endif %}

{% if _get.m is defined %}
	<div class="alert alert--message">
		<span class="alert__message">
			<span class="alert__message__title">
				<i class="fas fa-check"></i>
			</span>
			<span class="alert__message__text">{{ _get.m|escape }}</span>
		</span>
		<span class="alert__action">
			{% if _get.u is defined %}
				<a href="{{ _get.u|escape }}">
					<i class="fas fa-undo"></i>
					<span>Undo</span>
				</a>
			{% endif %}
		</span>
	</div>
{% endif %}

{% if _get.e is defined %}
	<div class="alert alert--error">
		<span class="alert__message">
			<span class="alert__title">
				<i class="fas fa-times"></i>
			</span>
			<span class="alert__message">{{ _get.e|escape }}</span>
		</span>
		<span class="alert__action"></span>
	</div>
{% endif %}

{% if _get.w is defined %}
	<div class="alert alert--warning">
		<span class="alert__message">
			<span class="alert__message__title">
				<i class="fas fa-exclamation"></i>
			</span>
			<span class="alert__message__text">{{ _get.w|htmlentities }}</span>
		</span>
		<span class="alert__action"></span>
	</div>
{% endif %}