{% extends 'arms-page.html.twig' %}

{% block content %}
	<p>Please consider what you post carefully, and if you&rsquo;re in any doubt, contact the branch&rsquo;s Communications Officer.</p>
	{% for credential in data %}
		<div class="post">
			<div>
				<h2>{{ credential.name }}</h2>
			</div>
			<p>User: <code>{{ credential.user }}</code></p>
			<p>Pass: <code>{{ credential.pass }}</code></p>
		</div>
	{% endfor %}
{% endblock %}