<div class="languages">
    <span class="languages__lang">
        {% if _lang != 'en' %}
            <a class="languages__label" href="/en{{ _uri }}">en</a>
        {% else %}
            <span class="languages__label--current">en</span>
        {% endif %}
    </span>
    <span class="languages__lang">
        {% if _lang != 'es' %}
            <a class="languages__label" href="/es{{ _uri }}">es</a>
        {% else %}
            <span class="languages__label--current">es</span>
        {% endif %}
    </span>
</div>