<div class="languages">
    <span class="languages__lang">
        {% if _lang != 'en' %}
            <a href="/en{{ _uri }}">en</a>
        {% else %}
            en
        {% endif %}
    </span>
    <span class="languages__lang">
        {% if _lang != 'es' %}
            <a href="/es{{ _uri }}">es</a>
        {% else %}
            es
        {% endif %}
    </span>
</div>