<!doctype html>
<html lang="{{ _lang }}">
	<head>
		{% include 'head.html.twig' %}
		{% block head %}
			<title>{{ pagetitle }} &middot; IWGB</title>
		{% endblock %}
		{% block meta %}

		{% endblock %}
	</head>
	<body>
		<div id="wrap">
			{% block hero %} {% endblock %}
			{% if _mode == 'v2' %}
				{% include 'i18n.html.twig' %}
				{% include 'nav.html.twig' %}
			{% else %}
				{% include 'nav-legacy.html.twig' %}
			{% endif %}
			{% block pad %}
				<div class="content-pad">
					{% block page %} {% endblock %}
				</div>
			{% endblock %}
		</div>
		{% block footer %}
			{% if _mode == 'v2' %}
				{% include 'footer.html.twig' %}
			{% else %}
				{% include 'footer-legacy.html.twig' %}
			{% endif %}
		{% endblock %}
		{% include 'scripts.html.twig' %}
		{% block scripts %} {% endblock %}
	</body>
</html>