{% extends '/tools/member-tool.html.twig' %}

{% block content %}

    <div class="pageHeader">
        <span>Roopal</span>
    </div>
    <form action="/member/tools/roopal" method="post" class="form form--left" enctype="multipart/form-data">
        {% include '/csrf.html.twig' %}
        <div class="form__group">
            <p>Convert Deliveroo invoice PDFs to an Excel-ready CSV.</p>
            <p>This tool uses <a href="//github.com/guym4c/roopal-php" target="_blank">Roopal</a>. If you have any issues, please leave feedback there.</p>
        </div>
        <div class="form__input">
            <input class="form__input" name="file[]" type="file" data-i="0" required multiple>
        </div>
        <div class="form__group">
            <input class="form__input__submit" type="submit" value="Convert">
        </div>
    </form>

{% endblock %}